OPENAI_API_KEY=sk-xxxx
OPENAI_MODEL=gpt-4o-mini
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=0211
MYSQL_DB=moongcare
STT_MODEL_DIR=iic/SenseVoiceSmall
SER_MODEL_DIR=iic/emotion2vec_plus_large
TTS_MODEL_DIR=pretrained_models/CosyVoice2-0.5B
