fastapi
uvicorn[standard]
python-multipart
pydantic-settings
python-dotenv
sqlalchemy
pymysql
cryptography
openai
openai-whisper==20250625
funasr
modelscope
torch==2.3.1
torchaudio==2.3.1
transformers==4.51.3
numpy<2
onnxruntime==1.18.0
pyworld
pytest
