fastapi
uvicorn[standard]
python-multipart
pydantic-settings
python-dotenv
sqlalchemy
pymysql
cryptography
openai
openai-whisper
funasr
modelscope
torch==2.3.1
torchaudio==2.3.1
onnxruntime==1.18.0
HyperPyYAML==1.2.3
conformer==0.3.2
diffusers==0.29.0
lightning==2.2.4
inflect==7.3.1
wetext==0.0.4
gdown==5.1.0
x-transformers==2.11.24
pytest
