fastapi
uvicorn[standard]
python-multipart
pydantic-settings
python-dotenv
sqlalchemy
pymysql
cryptography
anthropic
openai-whisper==20250625
funasr
modelscope
torch==2.3.1
torchaudio==2.3.1
transformers==4.51.3
numpy<2
onnxruntime==1.18.0
HyperPyYAML==1.2.3
conformer==0.3.2
diffusers==0.29.0
lightning==2.2.4
inflect==7.3.1
wetext==0.0.4
gdown==5.1.0
x-transformers==2.11.24
setuptools<81
matplotlib
wget
grpcio
onnx
pyarrow
pyworld
tensorboard
pytest
